<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been deleted from Rotten Mangoes! <%= @user.firstname %></h1>
    <p>
     Your account has been deleted from our site.
     As a result, all of your reviews have also been deleted.
    <br>
    </p>
    <p>
      Thanks for using Rotten Mangoes and have a great day!
    </p>
    <p>-Rotten Admin</p>
  </body>
</html>